.detailsContainer {
    width: 20vw;
    height: 95vh;
    border: 1px solid #0000005f;
    position: fixed;
    top: 0;
    right: 0;
    transform: translate(-5%, 3%);
    background: #ccccccaf;
    border-radius: 10px;
}

.closeIcon {
    position: absolute;
    right: 0;
    transform: translate(-20%, 20%);
    cursor: pointer;
}

.center-button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.stretch {
    display: grid;
    width: 100%;
}

.containerBottom {
    position: absolute;
    width: 100%;
    height: 10%;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 15px;
}